In [2]:
import pandas as pd
import numpy as np

# 1. DataFrame

In [3]:
stock_change = np.random.normal(0,1,(10,5))
stock_change

array([[-0.80095064,  0.52973747, -0.03991848, -0.00560639, -1.29014473],
       [ 2.90064745, -1.78990775, -1.79706037,  1.49220346,  0.66374702],
       [-0.09258939,  0.70218366, -0.15614644,  1.22045264, -0.83384625],
       [-0.39971441,  0.14491286, -0.89896423,  1.53966775, -0.02624964],
       [ 0.74590402, -2.17767002,  1.37469308, -0.04856678,  1.25003061],
       [ 0.14317817,  0.46004405, -0.83232816, -1.48825993, -1.56065368],
       [ 1.70251336, -0.09931202, -1.85903095, -0.41756594, -1.29217884],
       [-0.03705525,  0.84604021,  0.33674774, -0.82863216,  0.80659878],
       [ 0.52933408,  0.66087453, -1.8374936 ,  0.74368353, -1.34664116],
       [-0.37872288, -1.36224589, -0.01523817, -0.73171815,  1.60035788]])

In [5]:
stock_rise = pd.DataFrame(stock_change)
stock_rise

          0         1         2         3         4
0 -0.800951  0.529737 -0.039918 -0.005606 -1.290145
1  2.900647 -1.789908 -1.797060  1.492203  0.663747
2 -0.092589  0.702184 -0.156146  1.220453 -0.833846
3 -0.399714  0.144913 -0.898964  1.539668 -0.026250
4  0.745904 -2.177670  1.374693 -0.048567  1.250031
5  0.143178  0.460044 -0.832328 -1.488260 -1.560654
6  1.702513 -0.099312 -1.859031 -0.417566 -1.292179
7 -0.037055  0.846040  0.336748 -0.828632  0.806599
8  0.529334  0.660875 -1.837494  0.743684 -1.346641
9 -0.378723 -1.362246 -0.015238 -0.731718  1.600358

In [6]:
stock_name = ['股票{}' .format(i+1) for i in range(stock_rise.shape[0]) ]
stock_name

['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10']

In [7]:
pd.DataFrame(stock_change,index=stock_name)

             0         1         2         3         4
股票1  -0.800951  0.529737 -0.039918 -0.005606 -1.290145
股票2   2.900647 -1.789908 -1.797060  1.492203  0.663747
股票3  -0.092589  0.702184 -0.156146  1.220453 -0.833846
股票4  -0.399714  0.144913 -0.898964  1.539668 -0.026250
股票5   0.745904 -2.177670  1.374693 -0.048567  1.250031
股票6   0.143178  0.460044 -0.832328 -1.488260 -1.560654
股票7   1.702513 -0.099312 -1.859031 -0.417566 -1.292179
股票8  -0.037055  0.846040  0.336748 -0.828632  0.806599
股票9   0.529334  0.660875 -1.837494  0.743684 -1.346641
股票10 -0.378723 -1.362246 -0.015238 -0.731718  1.600358

In [9]:
date = pd.date_range('2017-01-01',periods = stock_rise.shape[1],freq='B')
date

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')

In [10]:
stock_c = pd.DataFrame(stock_change,index = stock_name,columns = date)
stock_c

      2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
股票1    -0.800951    0.529737   -0.039918   -0.005606   -1.290145
股票2     2.900647   -1.789908   -1.797060    1.492203    0.663747
股票3    -0.092589    0.702184   -0.156146    1.220453   -0.833846
股票4    -0.399714    0.144913   -0.898964    1.539668   -0.026250
股票5     0.745904   -2.177670    1.374693   -0.048567    1.250031
股票6     0.143178    0.460044   -0.832328   -1.488260   -1.560654
股票7     1.702513   -0.099312   -1.859031   -0.417566   -1.292179
股票8    -0.037055    0.846040    0.336748   -0.828632    0.806599
股票9     0.529334    0.660875   -1.837494    0.743684   -1.346641
股票10   -0.378723   -1.362246   -0.015238   -0.731718    1.600358

## 1.1 DataFrame的属性

In [28]:
stock_c.values

array([[ 0.62553349, -0.42157802,  0.63537512, -1.41619902, -0.70131259],
       [ 1.39139582, -0.94464187, -0.24556467,  2.07417146, -1.81198414],
       [-0.53974285, -0.33503297, -0.04073374,  0.46920509, -0.39652049],
       [ 0.18212407,  0.52227508, -1.92534721, -1.58735659, -1.62534102],
       [ 0.16067084,  0.37513792,  0.15205723,  0.22458481, -0.75378017],
       [-0.49607972, -0.42073448, -0.82289329,  0.91946366, -0.32563154],
       [ 0.65553267,  0.86968654, -1.63058325,  0.91757277, -1.45557894],
       [-0.10910345, -0.57383918, -1.45630446, -2.05605654, -0.37077415],
       [-0.29337985, -0.29659237, -0.05528188, -0.50259412, -0.57561247],
       [-0.35389065,  0.34111212,  0.15179624,  0.15278727,  0.22972031]])

In [29]:
stock_c.T

,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9,股票10
2017-01-02,0.625533,1.391396,-0.539743,0.182124,0.160671,-0.496080,0.655533,-0.109103,-0.293380,-0.353891
2017-01-03,-0.421578,-0.944642,-0.335033,0.522275,0.375138,-0.420734,0.869687,-0.573839,-0.296592,0.341112
2017-01-04,0.635375,-0.245565,-0.040734,-1.925347,0.152057,-0.822893,-1.630583,-1.456304,-0.055282,0.151796
2017-01-05,-1.416199,2.074171,0.469205,-1.587357,0.224585,0.919464,0.917573,-2.056057,-0.502594,0.152787
2017-01-06,-0.701313,-1.811984,-0.396520,-1.625341,-0.753780,-0.325632,-1.455579,-0.370774,-0.575612,0.229720

In [32]:
stock_c.T.head(2)

,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9,股票10
2017-01-02,0.625533,1.391396,-0.539743,0.182124,0.160671,-0.496080,0.655533,-0.109103,-0.293380,-0.353891
2017-01-03,-0.421578,-0.944642,-0.335033,0.522275,0.375138,-0.420734,0.869687,-0.573839,-0.296592,0.341112

In [38]:
stock_c.tail(1)

      2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
股票10   -0.353891    0.341112    0.151796    0.152787     0.22972

## 1.2 DataFrame索引的设置

In [11]:
stock_c.reset_index()

,index,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00
0,股票1,-0.800951,0.529737,-0.039918,-0.005606,-1.290145
1,股票2,2.900647,-1.789908,-1.797060,1.492203,0.663747
2,股票3,-0.092589,0.702184,-0.156146,1.220453,-0.833846
3,股票4,-0.399714,0.144913,-0.898964,1.539668,-0.026250
4,股票5,0.745904,-2.177670,1.374693,-0.048567,1.250031
5,股票6,0.143178,0.460044,-0.832328,-1.488260,-1.560654
6,股票7,1.702513,-0.099312,-1.859031,-0.417566,-1.292179
7,股票8,-0.037055,0.846040,0.336748,-0.828632,0.806599
8,股票9,0.529334,0.660875,-1.837494,0.743684,-1.346641
9,股票10,-0.378723,-1.362246,-0.015238,-0.731718,1.600358

## 1.3 以某列设置新的索引

In [13]:
df = pd.DataFrame({'month': [1,4,7,10],
                                        'year': [2013,2014,2015,2016],
                                        'sale': [55,40,84,31]})
df

   month  year  sale
0      1  2013    55
1      4  2014    40
2      7  2015    84
3     10  2016    31

In [18]:
df.set_index(keys=['year','month'])  ## 类似于三维数组

            sale
year month
2013 1        55
2014 4        40
2015 7        84
2016 10       31

In [19]:
df.set_index(keys=['year']) ## 二维数组

      month  sale
year
2013      1    55
2014      4    40
2015      7    84
2016     10    31